.form {
    background-color: #2d3651;

    @include lg-min {
        padding: 30px 0;
    }

    @include lg {
        padding: 20px 0;
    }

    &__container {
        max-width: 1340px;
        display: grid;
        grid-gap: 20px;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;

        @include lg {
            max-width: 100%;
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
        }

        @include md-sm {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item:first-of-type {
        @include md-sm {
            grid-column-end: span 2;
        }
    }

    &-item__input {
        display: block;
        font-family: "Roboto", sans-serif;
        width: 100%;
        height: 60px;
        font-size: 18px;
        letter-spacing: 0.1em;
        padding: 0 30px;
        caret-color: $color-light;
        border: 2px solid rgba($color-light, 0);
        background-color: rgba($color-light, 0.05);
        border-bottom-color: rgba($color-light, 0.1);
        transition: 0.5s;
        color: $color-light;
    }

    &-item__input:hover,
    &-item__input:focus {
        border-color: rgba($color-light, 0.1);
        background-color: rgba($color-light, 0.15);
        border-bottom-color: $color-light;
        outline: none;
    }

    &-item__input::placeholder {
        color: rgba($color-light, 0.51);
        transition: color 0.5s;
    }

    &-item__input:hover::placeholder,
    &-item__input:focus::placeholder {
        color: $color-light;
    }

    .btn-accent {
        display: block;
        cursor: pointer;
        color: $color-light;
        background-color: rgba($color-light, 0.1);
        border-bottom-color: rgba($color-light, 0.25);
        width: 100%;
        transition: 0.5s;
    }

    .btn-accent:hover {
        border-color: $color-light;
    }
}