.form {
    background-color: #2D3651;
    padding: 30px 0;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 19.5px;
        max-width: 1340px;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    &-item__input {
        font-family: "Roboto", sans-serif;
        min-width: 420px;
        height: 60px;
        font-size: 18px;
        letter-spacing: 0.1em;
        padding: 0 30px;
        caret-color: $color-light;
        border: 2px solid rgba($color-light, 0);
        background-color: rgba($color-light, 0.05);
        border-bottom-color: rgba($color-light, 0.1);
        transition: 0.5s;
    }

    &-item__input:hover, &-item__input:focus {
        border-color: rgba($color-light, 0.1);
        background-color: rgba($color-light, 0.15);
        border-bottom-color: $color-light;
        outline: none;
    }

    &-item__input::placeholder {
        color: rgba($color-light, 0.51);
        transition: color 0.5s;
    }

    &-item__input:hover::placeholder, &-item__input:focus::placeholder {
        color: $color-light;
    }

    .btn-accent {
        cursor: pointer;
        color: $color-light;
        background-color: rgba($color-light, 0.1);
        border-bottom-color: rgba($color-light, 0.25);
        min-width: 420px;
    }
}